$primary-color: white;
$secondary-color: black;

.inputBtn {
  padding: 10px;
  width: 130px;
  margin: 15px;
  color: $primary-color;
  background-color: $secondary-color;
  font-family: sans-serif;
  outline-style: none;
  border: 1px solid black;

  &:hover {
    cursor: pointer;
    color: $secondary-color;
    background-color: $primary-color;
    outline: none;
  }
}
